* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-self: center;
  width: 1920px;
  font-family: "Montserrat";
  background-color: #ffffff;
  scroll-behavior: smooth;
  padding: 0 clamp(3.125rem, 9.549vw - 1.458rem, 10rem);
}

/* CARDS BLOCK */
.cards {
  display: flex;
  align-items: flex-start;
  gap: 88px;
  margin-top: 78px;
  margin-left: 95px;
}

.card {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
}

.background {
  z-index: 0;
  width: 300px;
  height: 318px;
  position: absolute;
  background-color: #fbd8be;
  border-radius: 12px;
  right: 24px;
  bottom: 24px;
}

.background.third {
  height: 292px;
  bottom: 29px;
}

.border {
  z-index: 0;
  border: 2px solid #fbd8be;
  border-radius: 12px;
  width: 300px;
  height: 318px;
  position: absolute;
  right: 48px;
  bottom: 48px;
}

.border.third {
  height: 292px;
}

.card-image {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  max-width: 300px;
  max-height: 216px;
  position: relative;
}

.text-card {
  display: flex;
  align-items: center;
  width: 300px;
  height: 102px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  background-color: #8fb840;
  border: none;
  font-family: "Mulish", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  color: #ffffff;
  transition: all 0.8s ease;
  padding: 12px 34px 15px;
  position: relative;
}

.text-card.third {
  height: 76px;
  font-size: 18px;
}

/* ECO SYSTEM BLOCK */
.title-eco-system {
  font-weight: 600;
  font-size: 48px;
  color: #232323;
}

.eco-system {
  margin-top: 140px;
  max-width: 1600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: flex-start;
}

.blocks {
  display: grid;
  grid-template-columns: repeat(3, 506px);
  grid-template-rows: repeat(3, 336px);
  gap: 40px;
}

.block {
  display: flex;
  flex-direction: column;
}

.block-wide {
  display: flex;
  flex-direction: column;
  grid-column: span 2;
}

.btn-eco-system {
  width: 506px;
  height: 68px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  background-color: #8fb840;
  border: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 26px;
  color: #ffffff;
  font-family: "Montserrat";
}

.btn-eco-system:hover {
  transition: all 0.8s ease;
  background: #96d221;
}

.btn-eco-system.wide {
  width: 1052px;
}

.img-block-wide {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-top: #f8b17d solid 1px;
  border-right: #f8b17d solid 1px;
  border-left: #f8b17d solid 1px;
  width: 1052px;
  height: 268px;
  object-fit: cover;
  object-position: 0px -217px;
}

.img-block {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-top: #f8b17d solid 1px;
  border-right: #f8b17d solid 1px;
  border-left: #f8b17d solid 1px;
  object-fit: cover;
  width: 506px;
  height: 268px;
}

.uff-invest {
  object-position: 0px -11px;
  object-view-box: inset(0% -8%);
  background-color: #1d1b20;
}

.uff-producers {
  object-position: 0px -11px;
}

.for-retired {
  object-position: 0px -100px;
}

.food-futures {
  object-position: 0px -15px;
  object-view-box: inset(0% -8%);
  background-color: #fefff9;
}

.for-bloggers {
  object-position: 0px -70px;
}

.smart-shop {
  object-position: 0px -67px;
}

.academy {
  object-position: 0px -120px;
}

.scanner {
  object-position: 0px -120px;
}

/* FOOTER BLOCK */
footer {
  padding: 140px 0;
  color: rgba(35, 35, 35, 1);
  display: flex;
  gap: 50px;
  flex-direction: column;
}

footer .logo_socials {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

footer .logo_socials .icons {
  display: flex;
  gap: 16px;
}

footer .logo {
  height: 60px;
}

footer .socials {
  display: flex;
  justify-content: space-between;
  gap: 180px;
  align-items: center;
}

footer .socials a {
  text-decoration: none;
}

/* footer .socials img {
  box-shadow: 0.5px 1px 2px rgba(48, 52, 36, 0.7);
} */

footer .contacts_nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

footer .contacts {
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-size: 20px;
  justify-content: center;
}

footer .contacts img {
  width: 24px;
  margin: 4px;
}

footer .contacts .phone {
  display: flex;
  gap: 12px;
  align-items: center;
}

footer .contacts .mail {
  display: flex;
  gap: 12px;
  align-items: center;
}
.footer_mail {
  text-decoration: none;
  color: #232323;
}

footer .nav {
  display: flex;
  justify-content: space-between;
  gap: 180px;
}

footer .nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

footer .nav li {
  font-size: 20px;
  line-height: 140%;
}

footer .nav a {
  color: inherit;
  /* text-decoration-thickness: 1px;  */
  text-decoration: none;
}

footer h6 {
  font-size: 24px;
}

footer .legal {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

footer p {
  font-size: 14px;
  line-height: 140%;
}

/* SLIDER BLOCK */
@media (max-width: 1440px) {
  body {
    padding: 0 40px;
  }

  footer .socials {
    gap: 50px;
  }

  footer .nav {
    gap: 112px;
  }
}
/* Header */
.header {
  padding-left: calc(50% - 960px);
  padding-right: calc(50% - 960px);
}
.header__navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

.header__navigation__logo img {
  width: 115px;
  height: 50px;
  cursor: pointer;
}

.header__navigation__menu {
  flex-grow: 1;
  text-align: center;
}

.header__navigation__menu ul {
  list-style: none;
  padding: 0;
}

.header__navigation__menu li {
  display: inline-block;
  margin: 0 15px;
}

.header__navigation__menu a {
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #232323;
  transition: color 0.3s ease 0s;
  position: relative;
}

.header__navigation__menu a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -5px;
  transform: translateX(-50%);
  width: 0;
  height: 3px;
  background-color: rgb(133, 175, 66);
  transition: width 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.header__navigation__menu a:hover::after,
.header__navigation__menu a:focus::after {
  width: 100%;
}

.header__navigation__personal {
  display: flex;
  align-items: center;
}

.header__navigation__personal img {
  width: 40px;
  height: 40px;
  margin-left: 15px;
  cursor: pointer;
  transition: filter 0.5s;
}

.header__navigation__personal img:hover,
.header__navigation__personal img:focus {
  filter: brightness(0) saturate(100%) invert(77%) sepia(38%) saturate(749%)
    hue-rotate(53deg) brightness(97%) contrast(92%);
}

/* SLIDER BLOCK */
.slider {
  height: 540px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* <-- Slider track --> */

.slider__track {
  display: flex;
  transition: transform 3s ease-in-out;
  width: 100%;
  height: 100%;
}

/* <-- slider banner --> */

.slider__banner {
  width: 100%;
  height: 100%;
  display: none;
  flex-direction: column;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* <-- first banner --> */

.slider__banner-first {
  padding-left: 60px;
  gap: 32px;
  align-items: start;
  justify-content: center;
}

.slider__banner-first-text {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 16px;
  width: 767px;
}

.slider__banner-text-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 108%;
  letter-spacing: 6%;
  vertical-align: middle;
  text-transform: uppercase;
  color: #fff;
}

.slider__banner-first-text > .slider__banner-text-title {
  width: 642px;
}

.slider__banner-text-subtitle {
  font-weight: 400;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 2%;
  vertical-align: middle;
  color: #fff;
  width: 642px;
}

.slider__banner-text-button {
  background-color: #fff;
  color: #8fb840;
  font-weight: 700;
  font-size: 22px;
  line-height: 100%;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
  border-radius: 8px;
  padding: 36.5px 48.5px;
  box-shadow: -8px -8px 16px 0px rgba(235, 235, 235, 0.5),
    8px 8px 16px 0px rgba(132, 132, 132, 0.5);
  cursor: pointer;
}

/* <-- second slide --> */

.slider__banner-second {
  align-items: center;
  justify-content: center;
}

.slider__banner-second-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
}

.slider__banner-second-text > .slider__banner-text-title1,
.slider__banner-second-text > .slider__banner-text-title2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}

.slider__banner-second-text > .slider__banner-text-title1 {
  color: #fff;
  background-color: rgba(145, 175, 69, 0.76);
  padding: 10.5px 59px;
}

.slider__banner-second-text > .slider__banner-text-title2 {
  padding: 10.5px 63.5px;
  color: #91af45;
  background-color: rgba(255, 255, 255, 0.76);
}

/* <-- third slide --> */

.slider__banner-third {
  align-items: center;
  justify-content: center;
}

.slider__banner-third-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.slider__banner-third-text > .slider__banner-text-title1,
.slider__banner-third-text > .slider__banner-text-title2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: 0px;
}

.slider__banner-third-text > .slider__banner-text-title1 {
  padding: 10.5px 89px;
  color: #fff;
  background-color: #f0a22ddb;
}

.slider__banner-third-text > .slider__banner-text-title2 {
  padding: 10.5px 65px;
  color: #f0a22d;
  background-color: #ffffffdb;
}

/* <-- slide four --> */

.slider__banner-four {
  align-items: start;
  justify-content: center;
}

.slider__banner-four-text {
  background-color: #fff9f5c7;
  padding: 21px 168px 21px 100px;
}

.slider__banner-four-text > .slider__banner-text-title {
  width: 892px;
  letter-spacing: 0px;
  line-height: 100%;
  font-size: 48px;
  color: #1f1909e5;
}

/* <-- slide five --> */

.slider__banner-five {
  align-items: center;
  justify-content: center;
}

.slider__banner-five-text > .slider__banner-text-title {
  padding: 25.5px 106.5px;
  background-color: #bfbfbfd6;
  margin-bottom: 125px;
  letter-spacing: 0px;
  line-height: 100%;
}

/* <-- slide six --> */

.slider__banner-six {
  align-items: start;
  justify-content: center;
}

.slider__banner-six-text {
  background-color: #fff9f5c7;
  padding: 21px 71px 21px 100px;
}

.slider__banner-six-text > .slider__banner-text-title {
  letter-spacing: 0px;
  color: #2d1a10eb;
  font-size: 48px;
  width: 989px;
  line-height: 100%;
}

/* <-- slide seven --> */

.slider__banner-seven {
  align-items: center;
  justify-content: center;
}

.slider__banner-seven-text {
  padding: 25.5px 93px;
  background-color: #b31e56d6;
  margin-bottom: 55px;
}

.slider__banner-seven-text > .slider__banner-text-title {
  font-weight: 800;
  font-size: 48px;
  letter-spacing: 0%;
  line-height: 100%;
  color: #ffffffdb;
}

/* <-- slide eight --> */

.slider__banner-eight {
  align-items: start;
  justify-content: center;
}

.slider__banner-eight-text {
  padding: 51px 191px 50px 100px;
  background-color: #fff9f5c7;
  margin-top: 31px;
}

.slider__banner-eight-text > .slider__banner-text-title {
  color: #3b1520eb;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: 0%;
}

/* <-- steps --> */

.slider__steps {
  display: flex;
  align-self: center;

  gap: 12px;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 30px;
}

.slider__step {
  width: 10px;
  height: 10px;
  background-color: #fff;
  border: 1px solid #b5b5b5;
  border-radius: 50%;
  cursor: pointer;
}

.slider__step:hover {
  background-color: #8fb840;
}

/* <-- actions --> */

.activeSlide {
  background-color: #8fb840;
  border: none;
}

.sawSlide {
  display: flex;
}

.fade {
  animation-name: fade;
  animation-duration: 1s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* INFO BLOCK */
.info-section {
  padding: 180px 0 0;
}

.info-section__container {
  padding: 40px 50px 60px;
  background-image: url("./images/info-section-bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.info-section__header {
  display: flex;
  align-items: end;
  margin-bottom: 50px;
}

.info-section__logo {
  display: block;
  margin: 0 20px 5px 0;
  width: 276px;
  height: 120px;
  object-fit: cover;
}

.info-section__title {
  margin: 0 0 5px 5px;
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  vertical-align: middle;
  color: #232323;
}

.info-section__subtitle {
  font-weight: 600;
  font-size: 60px;
  line-height: 100%;
  vertical-align: middle;
  color: #9fc530;
}

.info-section__content {
  display: flex;
  margin-bottom: 50px;
}

.info-section__list {
  padding-left: 30px;
  margin-right: 20px;
}

.info-section__list ::marker {
  font-size: 30px;
  color: #f8b17d;
}

.info-section__list-item {
  margin-bottom: 20px;
}

.info-section__list-item:nth-last-child(1) {
  margin-bottom: 0;
}

.info-section__list-text {
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  vertical-align: middle;
  color: #232323;
}

.info-section__details-item {
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  vertical-align: middle;
  color: #232323;
}

.info-section__details-item:nth-child(1) {
  margin-bottom: 30px;
}

.info-section__details-item:nth-child(2) {
  margin-bottom: 30px;
}

.info-section__actions {
  padding: 60px 0;
  width: 897px;
  margin: 0 auto;
  text-align: center;
}

.info-section__button {
  display: inline-block;
  padding: 38px 47px;
  font-weight: 800;
  font-size: 22px;
  line-height: 100%;
  vertical-align: middle;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  background-color: #8fb840;
  border-radius: 8px;
  box-shadow: 4px 4px 6px rgba(132, 132, 132, 0.5),
    -4px -4px 6px rgba(234, 234, 234, 0.5);
  border: none;
  cursor: pointer;
  transition: all 0.8s ease;
}
.info-section__button:hover {
  transition: all 0.8s ease;
  background: #96d221;
}

.info-section__note-highlight {
  font-weight: 500;
  font-size: 22px;
  line-height: 100%;
  vertical-align: middle;
  color: #c40755;
}

.info-section__note-text {
  margin-top: 40px;
  font-weight: 400;
  font-size: 22px;
  line-height: 100%;
  vertical-align: middle;
  color: #232323;
}

/* ECO SYSTEM BLOCK */
.title-eco-system {
  font-weight: 600;
  font-size: 48px;
  color: #232323;
}

.eco-system {
  max-width: 1600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: flex-start;
}

.blocks {
  display: grid;
  grid-template-columns: repeat(3, 506px);
  grid-template-rows: repeat(3, 336px);
  gap: 40px;
}

.block {
  display: flex;
  flex-direction: column;
}

.block-wide {
  display: flex;
  flex-direction: column;
  grid-column: span 2;
}

.btn-eco-system {
  width: 506px;
  height: 68px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  background-color: #8fb840;
  border: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 26px;
  color: #ffffff;
  font-family: "Montserrat";
}

.btn-eco-system:hover {
  transition: all 0.8s ease;
  background: #96d221;
}

.btn-eco-system.wide {
  width: 1052px;
}

.img-block-wide {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-top: #f8b17d solid 1px;
  border-right: #f8b17d solid 1px;
  border-left: #f8b17d solid 1px;
  width: 1052px;
  height: 268px;
  object-fit: cover;
  object-position: 0px -217px;
}

.img-block {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-top: #f8b17d solid 1px;
  border-right: #f8b17d solid 1px;
  border-left: #f8b17d solid 1px;
  object-fit: cover;
  width: 506px;
  height: 268px;
}

.uff-invest {
  object-position: 0px -11px;
  object-view-box: inset(0% -8%);
  background-color: #1d1b20;
}

.uff-producers {
  object-position: 0px -11px;
}

.for-retired {
  object-position: 0px -100px;
}

.food-futures {
  object-position: 0px -15px;
  object-view-box: inset(0% -8%);
  background-color: #fefff9;
}

.for-bloggers {
  object-position: 0px -70px;
}

.smart-shop {
  object-position: 0px -67px;
}

.academy {
  object-position: 0px -120px;
}

.scanner {
  object-position: 0px -120px;
}

/* CONTACT US BLOCK */
.contact_us {
  padding-top: 140px;
  display: flex;
  justify-content: space-between;
  font-style: normal;
  gap: clamp(1.875rem, 3.226vw - 0.746rem, 3.125rem);
}

.contact_container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 40px;
}
.contact_title {
  padding-bottom: 20px;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  color: #232323;
  text-transform: uppercase;
}

.contact_paragraph {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #232323;
}

.contact_form-group {
  box-sizing: border-box;
  padding-bottom: 15px;
}

#name,
#email,
#message {
  padding-left: 28px;
  width: 516px;
  height: 58px;
  background: #fffcfa;
  border: 1px solid #f8b17d;
  border-radius: 12px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #acb798;
}

#name:active,
#name:focus,
#email:active,
#email:focus,
#message:focus,
#message:active {
  outline: none;
}

#name:autofill,
#email:autofill {
  border: 1px solid #f8b17d;
  fill: #8eb73f;
  color: #8eb73f;
}

#message {
  padding-top: 20px;
  resize: none;
  height: 80px;
}

#button-group {
  padding-top: 15px;
}

.contact_form-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 335px;
  height: 60px;
  background: #8eb73f;
  box-shadow: 4px 4px 6px rgba(132, 132, 132, 0.5),
    -4px -4px 6px rgba(234, 234, 234, 0.5);
  border: none;
  border-radius: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.8s ease;
}
.contact_form-button:hover {
  transition: all 0.8s ease;
  background: #96d221;
}

.contact_image {
  max-width: 856px;
  border-radius: 12px;
}

.contact_image_tablet {
  display: none;
}

/* FOOTER BLOCK */
footer {
  padding: 140px 0;
  color: rgba(35, 35, 35, 1);
  display: flex;
  gap: 50px;
  flex-direction: column;
}

footer .logo_socials {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

footer .logo_socials .icons {
  display: flex;
  gap: 16px;
}

footer .logo {
  height: 60px;
}

footer .socials {
  display: flex;
  justify-content: space-between;
  gap: 180px;
  align-items: center;
}

footer .socials a {
  text-decoration: none;
}

/* footer .socials img {
  box-shadow: 0.5px 1px 2px rgba(48, 52, 36, 0.7);
} */

footer .contacts_nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

footer .contacts {
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-size: 20px;
  justify-content: center;
}

footer .contacts img {
  width: 24px;
  margin: 4px;
}

footer .contacts .phone {
  display: flex;
  gap: 12px;
  align-items: center;
}

footer .contacts .mail {
  display: flex;
  gap: 12px;
  align-items: center;
}
.footer_mail {
  text-decoration: none;
  color: #232323;
}

footer .nav {
  display: flex;
  justify-content: space-between;
  gap: 180px;
}

footer .nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

footer .nav li {
  font-size: 20px;
  line-height: 140%;
}

footer .nav a {
  color: inherit;
  /* text-decoration-thickness: 1px;  */
  text-decoration: none;
}

footer h6 {
  font-size: 24px;
}

footer .legal {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

footer p {
  font-size: 14px;
  line-height: 140%;
}

/* adaptive */
@media (max-width: 1919px) {
  body {
    width: 1440px;
  }
  .contact_image {
    max-width: clamp(31.25rem, 62.021vw - 8.521rem, 53.5rem);
    border-radius: 12px;
  }
  .contact_title {
    font-size: clamp(1.5rem, 1.394vw + 0.606rem, 2rem);
  }
  .contact_paragraph {
    font-size: clamp(1.25rem, 0.697vw + 0.803rem, 1.5rem);
  }
  #name,
  #email,
  #message {
    width: clamp(17.375rem, 41.463vw - 9.213rem, 32.25rem);
  }
  .contact_form-button {
    width: clamp(17.375rem, 9.93vw + 11.007rem, 20.938rem);
  }
}

@media (max-width: 1439px) {
  body {
    width: 1024px;
    padding: 0 40px;
  }

  footer .socials {
    gap: 50px;
  }

  footer .nav {
    gap: 112px;
  }
}

@media (max-width: 1023px) {
  body {
    width: 768px;
  }

  .contact_image {
    display: none;
  }

  .contact_image_tablet {
    display: block;
    width: 480px;
  }
  .contact_title {
    font-size: 24px;
  }
  .contact_paragraph {
    font-size: 20px;
  }
  #name,
  #email,
  #message {
    width: 278px;
    font-size: 16px;
  }
  .contact_form-button {
    width: 278px;
  }
}

@media (max-width: 767px) {
  body {
    width: 390px;
    padding: 0 50px;
  }

  footer .logo_socials {
    align-items: start;
  }

  footer .socials {
    gap: 30px;
    flex-direction: column;
    align-items: flex-start;
  }

  footer .logo_socials .icons {
    flex-wrap: wrap;
  }

  footer .contacts_nav {
    flex-direction: column;
    gap: 30px;
  }

  footer .contacts {
    flex-direction: row;
  }

  footer .nav {
    gap: 30px;
  }
}

@media (max-width: 389px) {
  body {
    padding: 0 20px;
  }

  footer .logo_socials {
    flex-direction: column;
  }

  footer .logo {
    height: 40px;
    margin-bottom: 50px;
  }

  footer .socials {
    gap: 20px;
  }

  footer .contacts_nav {
    margin-top: -20px;
  }

  footer .contacts_nav {
    margin-top: -20px;
  }
}
